html,body{    
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
    width:100%;
}

header{
    width:100%;
    height: 12rem;
    margin:0;
    padding:0;
    font-size:1.8rem;
    background-color:#e10105;
}

#top{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#e10105;
}

#top > #vet_logo{
    display:inline-block;
    margin:0;
    padding:0;
    clear:both;
}
#top > #vet_logo > img{
    margin:0;
    padding:0;
    width:11rem;
    max-height:11rem;
    background-color:#e10105;
}
#vet_logo{
    text-align:center;
    float:left;
    width:20%;
}


#vet_logo> img{
    float:right;
    background-color:#e10105;
}


#top > nav{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#e10105;
    width:60%;
    text-align: center;
    float:left;
}



#sponsor > img {
    margin:0;
    padding:0;
    width: 11rem;
    max-height: 11rem;
    background-color: #e10105;
    float:left;
}

nav > ul{
    margin:0 auto;
    padding:0;
    text-align:center;
    text-transform: capitalize;
}

nav > ul > li{
    margin:0;
    padding:0;
    display:inline;
    line-height:11.5rem;
    width:calc(100%/5);
    height:11.5rem;
    float:left
}

nav > ul > li > a{
    display:inline-block;
    margin:0;
    padding:0;
    width:100%;
    text-decoration:none;
    color:#ffffff;
}

nav > ul > li > a:hover{
    text-decoration:underline;
    background-color:#e10105;
}
#flag{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    background: transparent;
    position: relative;
    opacity: .2;
    max-height: 150px;
}
#about{
    width: 80%;
    margin: 0;
    padding: 0;
    
}
#art{
    width: 100%;
    margin: 0 auto;
    padding: 0;  
    text-align: left;
    margin-left: 172px;
    position: relative;
    top: -130px;
}
article:nth-of-type(1){
    
    width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px;
    
}
article:nth-of-type(2){
     width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 15px;
    
}
article:nth-of-type(3){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
}
article:nth-of-type(4){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
}
article:nth-of-type(5){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
}
article:nth-of-type(6){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
}
footer{
    margin:0;
    padding: 0;
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    letter-spacing: 20px;
    position: relative;
    top: -130px;
}
#copy{
    width: 60%;
    display: block;
    text-align: center;
    padding: 0;
    letter-spacing: 0;
    font-size: 12px;
}

#face{
    display: inline-block;
    margin:0;
    padding: 0;
    float: right;
    margin-right: 200px;
}