html,body{    
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
    width:100%;
}

header{
    width:100%;
    height: 12rem;
    margin:0;
    padding:0;
    font-size:1.8rem;
    background-color:#e10105;
    
    
}

#top{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#e10105;
}


#top > #vet_logo{
    display:inline-block;
    margin:0;
    padding:0;
    clear:both;
}



#top > #vet_logo > img{
    margin:0;
    padding:0;
    width:11rem;
    max-height:11rem;
    background-color:#e10105;
}

#vet_logo{
    text-align:center;
    float:left;
    width:20%;
}


#vet_logo> img{
    float:right;
    background-color:#e10105;
}


#top > nav{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#e10105;
    width:60%;
    text-align: center;
    float:left;
}



#sponsor > img {
    margin:0;
    padding:0;
    width: 11rem;
    max-height: 11rem;
    background-color: #e10105;
    float:left;
}

nav > ul{
    margin:0 auto;
    padding:0;
    text-align:center;
    text-transform: capitalize;
}

nav > ul > li{
    margin:0;
    padding:0;
    display:inline;
    line-height:11.5rem;
    width:calc(100%/5);
    height:11.5rem;
    float:left
}

nav > ul > li > a{
    display:inline-block;
    margin:0;
    padding:0;
    width:100%;
    text-decoration:none;
    color:#ffffff;
}

nav > ul > li > a:hover{
    text-decoration:underline;
    background-color:#e10105;
}
main{
    margin: 0 auto;
    padding: 0;
    width: 75%;
}
#general>span>{
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
   
    
}
main>span>img{
    display: block;
    margin: 0 auto;
    float: left;
    padding: 10px;
    text-align: center;
    height: 400px;
    
}
article{
    margin: 0;
    padding: 10px;
    width: auto;
    font-size: 15px;
}
footer{
    margin:0;
    padding: 0;
    float: left;
    width: 100%;
    height: 200px;
    display: block;
    text-align: center;
    letter-spacing: 20px;
    position: relative;
    margin-top: 200px
}
#copy{
    width: 60%;
    display: block;
    text-align: center;
    padding: 0;
    letter-spacing: 0;
    font-size: 12px;
}
#donate{
    margin:0;
    padding:0;
    position: relative;
    float: none;
    display: block;    
   
}
#face{
    display: inline-block;
    margin:0;
    padding: 0;
    float: right;
    margin-right: 200px;
}